*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 700;

    --clr-bg: #E4E6EB;
    --clr-dark-bg: #E6D9CE;
    --clr-darkest-bg: #CCBFB4;
    --clr-text: #323439;
    --clr-heading: #4B4D52;
    --clr-light: #7E8085;
    --clr-accent: #CC7272;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.25rem;
    --fs-h5: 1.125rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.35);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.35rem;
        --fs-h5: 1.25rem;
        --fs-body: 1.05rem;
    }
}

/* General styles */
html {
    scroll-behavior: smooth;    
}

body {
    background: var(--clr-bg);
    color: var(--clr-text);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    margin-top: 90px;
}

.main-container {
    padding: 0 120px;
}

section {
    padding: 11em 4.125em;
}

p {
    display: block;
    max-width: 650px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul,
ol {
    list-style: none;
}

/* overrode the method in the imported stylesheet */
ul {
    padding-inline-start: 0px;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); font-family: Monaco, monospace; }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

a {
    font-size: var(--fs-body);
    font-family: Monaco, monospace;
    font-weight: bold;
    color: var(--clr-accent);
    text-decoration: none;
    font-family: Monaco, monospace
}

/* ***********************************============================================================*************************!!!!!!!!!!!!!!!!!*/
a :hover {
    opacity: .7;
}

.section__title {
    color: var(--clr-heading);
}

.section__title--about::after,
.section__title--experiences::after {
    display: inline-block;
    content: "";
    border-top: .15rem solid var(--clr-darkest-bg);
    width: 11rem;
    margin: 0 1rem;
    transform: translateY(-.5rem);
}

.section__title--intro
 {
    font-size: var(--fs-body);
    color: var(--clr-accent);
}

.section__title--about,
.section__title--experiences,
.section__title--contact {
    margin-bottom: 1rem;
}


.section__subtitle {
    margin: 0;
    font-size: var(--fs-body);
}


/*  Navigation and Intro */
header {
    position: fixed;
    height: 90px;
    width: 100%;
    margin: 0;
    background: var(--clr-dark-bg);
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    top: 0;
    z-index: 10;
}

.logo {
    max-width: 100px;
	display: flex;
	vertical-align: middle;
    z-index: 2;
}

nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    position: relative;
	transform: translateX(0%);
}

.nav ol {
    display: flex;
}

a.nav__link {
    margin: 0 10px 10px;
}

.nav__resume {
    padding: 0.85rem .5rem;
    margin: 0;
}

/* Hamburger toggle button for small screen size */
.nav-toggle {
    padding: .5em;
    border: 0;
    cursor: pointer;
    background: transparent;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

@media screen and (max-width:843px) {
    /*  Display hamburger button   */
   .nav-toggle {
       display: inline-block;
       z-index: 1000;
   }
    /*  Hide nav links   */
    .nav ol {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 70px;
        padding: 0 50px;
        width: 100%;
        height: 40vh;
    }
    .nav__resume {
        position: relative;
        display: inline-block;
        margin-top: 15rem;
    }
    .nav {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--clr-dark-bg);
        padding: 50px;
        width: 50%;
        top: 90px;
        height: 100%;
        right: 0px;
        transform: translateX(100%);
        transition: transform 0.5s;
    }
}
@media screen and (min-width:843px) {
    /* Display navigation links */
    .nav-toggle {
        display: none;
    }
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


.nav__resume,
.email,
.contact-btn {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: var(--clr-accent);
    border-radius: 3px;
}

.email,
.contact-btn {
    margin-top: 50px;
    padding: 1.25rem 1.75rem;
}

.section__title--name,
.section__title--passion {
    font-size: 70px;
}

.section__title--passion {
    color: var(--clr-light);
}

/* ================ about ============== */

.about__img {
    box-shadow: var(--bs);
    padding: .75em;
}

.image-holder {
    padding: 1.3em 0 0 .85em;
}

@media (min-width: 880px) {
    .about-flexbox {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: flex-start;
    }

    .about__img {
        min-width: 250px;
        align-items: center;
    }
}

.section__subtitle--container--skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 200px));
}

.section__subtitle--container--skills li::before {
    content: "▹";
    position: relative;
    left: 0;
    color: var(--clr-accent);
    font-size: 17px;
    line-height: 12px;
    padding: 0 10px 0 0;
}

/*
* ============ Job Tab List ================
*/

.tabs {
    display: block;
    position:relative;
    width:800px;
    height:430px;
    padding:30px 30px;
    overflow:hidden;
}
.tabs .tab-header {
    float:left;
    width:230px;
    height:100%;
    border-right:1px solid var(--clr-darkest-bg);
    padding:50px 0;
}
.tabs .tab-header > div {
    height:50px;
    line-height:50px;
    font-size:var(--fs-body);
    font-weight:600;
    color:var(--clr-light);
    cursor:pointer;
    padding-left:10px;
}
.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
    color:var(--clr-accent);
}
.tabs .tab-header div i {
    display:block;
    margin-left:10px;
    margin-right:5px;
}
.tabs .tab-content {
    position:relative;
    height:100%;
    overflow:hidden;
}
.tabs .tab-content > div {
    position:absolute;
    text-align:left;
    padding:30px 20px;
    transform: scale(0.9);
    top:-200%;
}
.tabs .tab-content > div.active {
    top:0;
    transform: scale(1);
    margin-top: 0;
}
.tabs .tab-indicator {
    position:absolute;
    width:4px;
    height:50px;
    background:var(--clr-accent);
    left:257.3px;
    top:80px;
    transition:all 500ms ease-in-out;
}

/* ============== contact section ============== */

.my-contact {
    text-align: center;
    max-width: 600px;
    padding: 150px 0;
    margin: 0 auto 100px;
}


/* ============== footer ============== */
.footer__container {
    display: flex;
    width: 100%;
    min-height: 70px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    background: var(--clr-dark-bg);
    text-align: center;
    padding: 2em 0;
}

.metadata {
    color: var(--clr-accent);
    font-weight: 500;
    font-size: var(--fs-body);
    font-family: Monaco, monospace;
}

.footer__container .metadata p {
    margin: 0;
}

.social-list__link:hover,
.email:hover,
.nav__link:hover,
.nav__resumeButton:hover,
.email_linkWrapper:hover,
.contact-btn:hover{
    opacity: .7;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-list__link {
    margin: 0 7px;
}

.social-list__item {
    margin: 0 1em;
}


/* =============== Styling =============== */
@media(min-width: 843px) {

    .side_styleContainer .email_linkWrapper {
        display: flex;
        position: fixed;
        bottom: 0;
        left: auto;
        right: 40px;
        writing-mode: vertical-rl;
        z-index: 10;
    }

    .side_styleContainer .email_linkWrapper::after {
        content: "";
        display: block;
        width: 1px;
        height: 12em;
        background-color: var(--clr-accent);
        margin: 0 auto;
    }
}
@media(max-width: 843px) {
    .side_styleContainer {
        display: none;
    }
}










